@model MvcWeb.Models.AnalyzePage
@{
    ViewBag.Title = Model.Title;
    var cookie = ViewBag.cookie;
    var lstCategories = ViewBag.lstCategory;
    string urlLang = ViewBag.urlLang;
    string lang = "";
    if (urlLang.Contains("/en"))
        lang = "en";
    else lang = "vi";

    Func<string> BlogLink = () =>
    {
        return Model.Permalink
            + (Model.Archive.Category != null ? $"/category/{Model.Archive.Category.Slug}" : "")
            + (Model.Archive.Year.HasValue ? $"/{Model.Archive.Year}" : "")
            + (Model.Archive.Month.HasValue ? $"/{Model.Archive.Month}" : "");
    };
}

    <section id="page">
        <section id="page_content" class="fw">
            <div class="container">
                <div id="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page"><a href="/home">@(lang == "vi" ? "Trang chủ" : "Home")</a></li>
                        <li class="breadcrumb-item"><a href="@(lang == "vi" ? "/phan-tich" : "/analyze")">@(lang == "vi" ? "Phân tích" : "Analyze")</a></li>
                        <li class="breadcrumb-item"></li>
                    </ol>
                </div>
                <div class="row mar0">
                    <div class="col-12 col-lg-9 page_content">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-news-tvs" role="tabpanel"
                                 aria-labelledby="nav-home-tab">
                                <div class="row mar0 news_wrapper">
                                    @foreach (var item in Model.Archive.Posts)
                                    {
                                        if (item.Regions.LoginOnly == "Yes")
                                        {
                                            if (cookie != null)
                                            {
                                                <div class="col-12 col-lg-6 news_div">
                                                    <img class="img-fluid" src="@Url.Content(item.PrimaryImage.Media?.PublicUrl)" alt="">
                                                    <a class="news_title" href="@item.Permalink">
                                                        @item.Title
                                                    </a>
                                                    <p class="news_date"><i class="far fa-clock"></i>@item.Published.Value.ToString("dd/MM/yyyy")</p>
                                                    <p class="news_excerpt">
                                                        @Html.Raw(item.Excerpt)
                                                    </p>
                                                </div>
                                            }
                                            else
                                            {
                                                continue;
                                            }
                                        }
                                        else
                                        {
                                            <div class="col-12 col-lg-6 news_div">
                                                <img class="img-fluid" src="@Url.Content(item.PrimaryImage.Media?.PublicUrl)" alt="">
                                                <a class="news_title" href="@item.Permalink">
                                                    @item.Title
                                                </a>
                                                <p class="news_date"><i class="far fa-clock"></i>@item.Published.Value.ToString("dd/MM/yyyy")</p>
                                                <p class="news_excerpt">
                                                    @Html.Raw(item.Excerpt)
                                                </p>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        @if (Model.Archive.TotalPages > 1)
                        {
                            <div class="row">
                                <div class="col">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item">
                                                <a class="page-link" href="@BlogLink()/page/1">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="@BlogLink()/page/@Math.Max(1, Model.Archive.CurrentPage - 1)">
                                                    <span aria-hidden="true">&lsaquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            @for (var n = 1; n <= Model.Archive.TotalPages; n++)
                                            {
                                                <li class="page-item @(Model.Archive.CurrentPage == n ? "active" : "")"><a class="page-link" href="@BlogLink()/page/@n">@n</a></li>
                                            }
                                            <li class="page-item">
                                                <a class="page-link" href="@BlogLink()/page/@Math.Min(Model.Archive.TotalPages, Model.Archive.CurrentPage + 1)">
                                                    <span aria-hidden="true">&rsaquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="@BlogLink()/page/@Model.Archive.TotalPages">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="col-12 col-lg-3 pad0">
                        <div class="page_category">
                            <div class="title_row">
                                <h2 class="title">@(lang == "vi" ? "Danh mục" : "Category")</h2>
                                <p class="title_line"></p>
                            </div>
                            <div class="row_category">
                                @foreach (var item in lstCategories)
                                {
                                    <div class="row_category_div">
                                        <a href="@(lang == "vi" ? "danhmuc-phantich" : "category-analyze")/@item.Slug">@item.Title</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section> 