@model MvcWeb.Models.CategoryAnalyze;
@{
    Model.Title = ViewBag.Title;
    var listPost = ViewBag.listPost;
    var lstCategories = ViewBag.listCategory;
    string categoryname = ViewBag.categoryName;
    string urlLang = ViewBag.urlLang;
    string lang = "";
    if (urlLang.Contains("/en"))
        lang = "en";
    else lang = "vi";
}

<section id="page">
    <section id="page_content" class="fw">
        <div class="container">
            <div id="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><a href="/home">@(lang == "vi" ? "Trang chủ" : "Home")</a></li>
                    <li class="breadcrumb-item"><a href="@(lang == "vi" ? "/phan-tich" : "/analyze")">@(lang == "vi" ? "Phân tích" : "Analyze")</a></li>
                    <li class="breadcrumb-item">@categoryname</li>
                </ol>
            </div>
            <div class="row mar0">
                <div class="col-12 col-lg-9 page_content">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-news-tvs" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="row mar0 news_wrapper">
                                @foreach (var item in listPost)
                                {
                                    string lnk = item.Permalink;
                                    for (int i = 0; i < lnk.Length; i++)
                                    {
                                        if (lnk[i] == '/')
                                        {
                                            lnk = lnk.Substring(1);
                                            i--;
                                        }
                                        else
                                            break;
                                    }
                                    lnk = "/" + lnk;
                                    if (lnk.Contains("/vi"))
                                    {
                                        lnk = lnk.Replace("/vi", "");
                                        lnk = "/vi" + lnk;
                                    }
                                    if (lnk.Contains("/en"))
                                    {
                                        lnk = lnk.Replace("/en", "");
                                        lnk = "/en" + lnk;
                                    }
                                    <div class="col-12 col-lg-6 news_div">
                                        <img class="img-fluid" src="@Url.Content(item.PrimaryImage.Media?.PublicUrl)" alt="">
                                        <a class="news_title" href="@lnk">
                                            @item.Title
                                        </a>
                                        <p class="news_date"><i class="far fa-clock"></i> @item.Published.ToString("dd/MM/yyyy")</p>
                                        <p class="news_excerpt">
                                            @Html.Raw(item.Excerpt)
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 pad0">
                    <div class="page_category">
                        <div class="title_row">
                            <h2 class="title">@(lang == "vi" ? "Danh mục" : "Category")</h2>
                            <p class="title_line"></p>
                        </div>
                        <div class="row_category">
                            @foreach (var item in lstCategories)
                            {
                                <div class="row_category_div">
                                    <a href="@item.Slug">@item.Title</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>