@model MvcWeb.Models.ContactPage
@{
    ViewData["Title"] = "ContactPage";
}


<section id="page">
    <section id="page_bg" class="fw">
        <img class="img-fluid" src="@(Model.Banner.Image.Media.PublicUrl.Substring(1)??"")" alt="">
        <div class="page_breadcrumb">
            <h3>@Model.Banner.Title</h3>
            <div>
                <a href="#">Trang chủ</a> <span>/</span> <a href="#">Liên hệ</a>
            </div>
        </div>
    </section>

    <section class="contact-address fw">
        <div class="content-address">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model.lstContact)
                    {
                        <div class="col col-lg-6 col-md-6 col-12">
                            <div class="address ">
                                <div class="icon-dress">
                                    <img src="@(item.Image.Media.PublicUrl.Substring(1)??"")" alt="">
                                </div>
                                <div class="title-address">
                                    <h5>@item.Title</h5>
                                </div>
                                <div class="list-address">
                                    <ul>
                                        <li><span>Điện thoại:</span>@item.Phone</li>
                                        <li><span>Fax:</span>@item.Fax</li>
                                        <li>
                                            <span>Địa chỉ:</span>@item.Address
                                        </li>
                                        <li><a href="@item.MapLink.Value">Xem trên bản đồ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="quotes text-center">
                    @Html.Raw(Model.Intro)
                </div>
            </div>
        </div>
    </section>

    <section class="form-contact fw">
        <div class="container">
            <div class="bg-form">
                <form action="">
                    <div class="row">
                        <div class="col col-lg-4 col-md-4 col-12">
                            <div class="form-group">
                                <label for="hoten">Họ và tên</label>
                                <input type="text" class="form-control" id="ctphoten" aria-describedby="emailHelp"
                                       placeholder="Nhập đầy đủ họ tên của bạn ở đây">
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-4 col-12">
                            <div class="form-group">
                                <label for="tencongty">Tên công ty</label>
                                <input type="text" class="form-control" id="ctptencongty"
                                       aria-describedby="emailHelp" placeholder="Tên công ty">
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-4 col-12">
                            <div class="form-group">
                                <label for="chucdanh">Chức danh </label>
                                <input type="text" class="form-control" id="ctpchucdanh"
                                       aria-describedby="emailHelp" placeholder="Chức danh">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-4 col-md-4 col-12">
                            <div class="form-group">
                                <label for="sofax">Số fax</label>
                                <input type="text" class="form-control" id="ctpsofax" aria-describedby="emailHelp"
                                       placeholder="Số fax của công ty bạn ở đây">
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-4 col-12">
                            <div class="form-group">
                                <label for="email"> E-mail</label>
                                <input type="text" class="form-control" id="ctpemail" aria-describedby="emailHelp"
                                       placeholder="Địa chỉ mail của bạn ">
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-4 col-12">
                            <div class="form-group">
                                <label for="phone">Số điện thoại </label>
                                <input type="text" class="form-control" id="ctpphone" aria-describedby="emailHelp"
                                       placeholder="Số điện thoại của bạn ">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="diachi">Địa chỉ </label>
                        <textarea class="form-control" id="ctpdiachi" rows="4"
                                  placeholder="Nhập lời nhắn của bạn"></textarea>
                    </div>
                    <div class="text-form">
                        <p>Loại thông tin mà bạn muốn nhận </p>
                    </div>
                    <div class="check-box">
                        <ul>
                            <li>
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="ctptuvansatnhap">
                                    <label class="custom-control-label" for="tuvansatnhap">Tư vấn sát nhập</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="ctpdoitac">
                                    <label class="custom-control-label" for="doitac">Đối tác / Cơ hội hợp tác</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="ctptaicocaudn">
                                    <label class="custom-control-label" for="taicocaudn">Tái cấu trúc doanh nghiệp</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="ctptangvon">
                                    <label class="custom-control-label" for="tangvon">Tăng vốn</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-contact">
                        <button id="btnContactPage"><a>Gửi</a></button>
                    </div>
                </form>
                <span id="mailReceiver">@Model.MailReceiver</span>
            </div>
        </div>
    </section>
</section>