@model MvcWeb.Models.LoginPage
@{
    ViewData["Title"] = "LoginPage";
    string urlLang = ViewBag.urlLang;
    string lang = "";
    if (urlLang.Contains("/en"))
        lang = "en";
    else lang = "vi";
}

<section id="page_login">
    <img class="img-fluid" src="assets/images/login_bg.jpg" alt="">
    <div class="login_div">
        <h5 class="text_bold">@(lang == "vi" ? "Đăng nhập" : "Login")</h5>
        <div>
            <div class="form-group">
                <label for="my-input">@(lang == "vi" ? "Địa chỉ mail" : "Email")</label>
                <input id="my-input" class="form-control" placeholder="@(lang == "vi" ? "Địa chỉ mail của bạn" : "Your email")" type="text" name="">
            </div>
            <div class="form-group">
                <label for="my-input2">@(lang == "vi" ? "Mật khẩu" : "Passwords")</label>
                <input id="my-input2" class="form-control" placeholder="@(lang == "vi" ? "Mật khẩu" : "Passwords")" type="password" name="">
            </div>
            <div class="form-group">
                <a href="/@(lang == "vi" ? "quen-mat-khau" : "forgotpass")" class="forgot">@(lang == "vi" ? "Quên mật khẩu" : "Forgot passwords")</a>
            </div>
            <div class="form-group">
                <button id="btnLogin" class="btn btn-primary login">@(lang == "vi" ? "Đăng nhập" : "Login")</button>
            </div>
        </div>
        <div class="login_social">
            <p><span>@(lang == "vi" ? "Hoặc" : "Or")</span></p>
            <a class="btn btn-danger login_gmail"><i class="fab fa-google"></i> @(lang == "vi" ? "Đăng nhập với Gmail" : "Login in with Gmail")</a>
            <a class="btn btn-primary login_fb"><i class="fab fa-facebook-square"></i> @(lang == "vi" ? "Đăng nhập với Facebook" : "Login with Facebook")</a>
            <a href="/@(lang == "vi" ? "dang-ky" : "register")" class="register">@(lang == "vi" ? "Đăng ký tài khoản" : "Register account")</a>
        </div>
    </div>
</section>