@model MvcWeb.Models.NewsPage
@{
    ViewData["Title"] = "NewsPage";
    var lstCategories = (List<Piranha.Models.Taxonomy>)ViewBag.lstCategory;
    string urlLang = ViewBag.urlLang;
    string lang = "";
    if (urlLang.Contains("/en"))
        lang = "en";
    else lang = "vi";
}

<section id="page">

    <section id="page_content" class="fw">
        <div class="container">
            <div id="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><a href="/home">@(lang == "vi" ? "Trang chủ" : "Home")</a></li>
                    <li class="breadcrumb-item"><a href="/tin-tuc">@(lang == "vi" ? "Tin tức" : "News")</a></li>
                    <li class="breadcrumb-item"></li>
                </ol>
            </div>
            <div class="row mar0">
                <div class="col-12 col-lg-9 page_content">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-news-tvs" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="row mar0 news_wrapper">
                                @foreach (var item in Model.Archive.Posts)
                                {
                                    <div class="col-12 col-lg-6 news_div">
                                        <img class="img-fluid" src="@Url.Content(item.PrimaryImage.Media?.PublicUrl)" alt="">
                                        <a class="news_title" href="@item.Permalink">
                                            @item.Title
                                        </a>
                                        <p class="news_date"><i class="far fa-clock"></i>@item.Published.Value.ToString("dd/MM/yyyy")</p>
                                        <p class="news_excerpt">
                                            @Html.Raw(item.Excerpt)
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 pad0">
                    <div class="page_category">
                        <div class="title_row">
                            <h2 class="title">@(lang == "vi" ? "Danh mục" : "Category")</h2>
                            <p class="title_line"></p>
                        </div>
                        <div class="row_category">
                            @foreach (var item in lstCategories)
                            {
                                <div class="row_category_div">
                                    <a href="@(lang == "vi" ? "danh-muc" : "category")/@item.Slug">@item.Title</a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="page_category">
                        <div class="title_row">
                            <h2 class="title">@(lang == "vi" ? "Tin nổi bật" : "Highlight")</h2>
                            <p class="title_line"></p>
                        </div>
                        <div class="hot_news">
                            @foreach (var item in Model.lstHighlight)
                            {
                                <div class="col-lg-12 hot_news_div">
                                    <a href="@item.Post.Permalink">@item.Post.Title</a>
                                    <p><i class="far fa-clock"></i>@item.Post.Published?.ToString("dd/MM/yyyy")</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>