@model MvcWeb.Models.NewsPost
@{
    ViewBag.Title = Model.Title;
    var lstCategories = (List<Piranha.Models.Taxonomy>)ViewBag.lstCategory;
    var lstHightLight = (List<Piranha.Extend.Fields.PostField>)ViewBag.lstHightLight;
    var lstRelated = ViewBag.lstRelated;

    string urlLang = ViewBag.urlLang;
    string lang = "";
    if (urlLang.Contains("/en"))
        lang = "en";
    else lang = "vi";
}

<section id="page">
    <section id="page_content" class="fw">
        <div class="container">
            <div id="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="/home">@(lang == "vi" ? "Trang chủ" : "Home")</a>
                    </li>
                    <li class="breadcrumb-item"><a href="@(lang == "vi" ? "/thong-tin" : "/information")">@(lang == "vi" ? "Thông tin" : "Information")</a></li>
                    <li class="breadcrumb-item"><a href="@(lang == "vi" ? "/danh-muc/" : "/category/")@Model.Category.Slug">@Model.Category.Title</a></li>
                    <li class="breadcrumb-item">@(lang == "vi" ? "Chi tiết tin tức" : "News Detail")</li>
                </ol>
            </div>
            <div class="row mar0">
                <div class="col-12 col-lg-9 page_content">
                    @Html.DisplayFor(m => m.Blocks)
                </div>
                <div class="col-12 col-lg-3 pad0">
                    <div class="page_category">
                        <div class="title_row">
                            <h2 class="title">@(lang == "vi" ? "Danh mục" : "Category")</h2>
                            <p class="title_line"></p>
                        </div>
                        <div class="row_category">
                            @foreach (var item in lstCategories)
                            {
                                <div class="row_category_div">
                                    <a href="/@(lang == "vi" ? "danh-muc" : "category")/@item.Slug">@item.Title</a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="page_category">
                        <div class="title_row">
                            <h2 class="title">@(lang == "vi" ? "Tin nổi bật" : "Hot news")</h2>
                            <p class="title_line"></p>
                        </div>
                        <div class="hot_news">
                            @foreach (var item in lstHightLight)
                            {
                                <div class="col-lg-12 hot_news_div">
                                    <a href="@item.Post.Permalink">
                                        @item.Post.Title
                                    </a>
                                    <p><i class="far fa-clock"></i>@item.Post.Published?.ToString("dd/MM/yyyy")</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mar0 related_news">
                <div class="title_row">
                    <h2 class="title">@(lang == "vi" ? "Các tin tức khác" : "Other news")</h2>
                    <p class="title_line">
                        <span class="title_line_mb"></span>
                    </p>
                </div>
                <div class="related_news_slide fw">
                    @foreach (var item in lstRelated)
                    {
                        <div class="col-12 col-lg-6 news_div">
                            <img class="img-fluid" src="@(item.PrimaryImage.Media.PublicUrl.Substring(1)??"")" alt="">
                            <a class="news_title" href="@item.Permalink">@item.Title</a>
                            <p class="news_date"><i class="far fa-clock"></i>@item.Published</p>
                            <p class="news_excerpt">
                                @Html.Raw(item.Excerpt)
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</section>