@model MvcWeb.Models.RelationPage
@{
    ViewBag.Title = Model.Title;
    string urlLang = ViewBag.urlLang;
    string lang = "";
    if (urlLang.Contains("/en"))
        lang = "en";
    else lang = "vi";
}

<script>
    var url = window.location.href;
    if (url.indexOf("/en")!= -1) {
        var languagetbl = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json";
        var appendrow = "<tr><th>Document name</th><th>Published Date</th><th></th></tr>";
    } else {
        var languagetbl = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Vietnamese.json";
        var appendrow = "<tr><th>Tên tài liệu</th><th>Thời gian đăng</th><th></th></tr>";
    }
</script>
<section id="page">
    <section id="page_bg" class="fw">
        <img class="img-fluid" src="@(Model.Banner.Image.HasValue ? Model.Banner.Image.Media.PublicUrl.Substring(1):"")" alt="">
        <div class="page_breadcrumb">
            <h3>@Model.Banner.Title</h3>
            <div>
                <a href="#">@(lang == "vi" ? "Trang chủ" : "Home page")</a> <span>/</span> <a href="#">@(lang == "vi" ? "Quan hệ cổ đông" : "Shareholder relations")</a>
            </div>
        </div>
    </section>
    <section id="paradigm" class="fw">
        <div class="container">
            <div class="col-lg-12 paradigm">
                <h2>@Model.ManagementModel.Title</h2>
                <img class="img-fluid" src="@(Model.ManagementModel.Image.HasValue ? Model.ManagementModel.Image.Media.PublicUrl.Substring(1):"")" alt="">
            </div>
        </div>
    </section>
    <div id="shareholder" class="fw">
        <!-- Note: Remember set id for class shareholder_report to scroll to this section -->
        <div class="row shareholder_report" id="shareholder_report_1">
            <div class="container">
                <div class="title_row">
                    <h2 class="title">@(lang == "vi" ? "Công bố thông tin" : "Information disclosure")</h2>
                    <p class="title_line">
                        <span class="title_line_mb"></span>
                    </p>
                </div>
                <div class="shareholder_report_table">
                    <table class="table table-striped" id="tblPublish">
                        <thead>
                            <tr>
                                <th>@(lang == "vi" ? "Tài liệu" : "Document")</th>
                                <th>@(lang == "vi" ? "Thời gian đăng" : "Date post")</th>
                                <th>@(lang == "vi" ? "Tải về" : "Download")</th>
                                <th>Năm</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstPublish.OrderByDescending(x => x.uploadTime.Value).ToList())
                            {
                                <tr>
                                    <td>@item.docName</td>
                                    <td>@item.uploadTime.Value?.ToString("dd/MM/yyyy")</td>
                                    <td><a href="@(item.docFile.HasValue ? item.docFile.Media.PublicUrl.Substring(1):"")" target="_blank"><i class="fas fa-file-pdf"></i> @(lang == "vi" ? "Tải về" : "Download") </a></td>
                                    <td>@item.uploadTime.Value?.ToString("yyyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row shareholder_report" id="shareholder_report_2">
            <div class="container">
                <div class="title_row">
                    <h2 class="title">@(lang == "vi" ? "Báo cáo quản trị" : "Report admin")</h2>
                    <p class="title_line">
                        <span class="title_line_mb"></span>
                    </p>
                </div>
                <div class="shareholder_report_table">
                    <table class="table table-striped" id="tblAdmin">
                        <thead>
                            <tr>
                                <th>@(lang == "vi" ? "Tài liệu" : "Document")</th>
                                <th>@(lang == "vi" ? "Thời gian đăng" : "Date post")</th>
                                <th>@(lang == "vi" ? "Tải về" : "Download")</th>
                                <th>Năm</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstAdminReport.OrderByDescending(x => x.uploadTime.Value).ToList())
                            {
                                <tr>
                                    <td>@item.docName</td>
                                    <td>@item.uploadTime.Value?.ToString("dd/MM/yyyy")</td>
                                    <td><a href="@(item.docFile.HasValue ? item.docFile.Media.PublicUrl.Substring(1): "")" target="_blank"><i class="fas fa-file-pdf"></i> @(lang == "vi" ? "Tải về" : "Download") </a></td>
                                    <td>@item.uploadTime.Value?.ToString("yyyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row shareholder_report" id="shareholder_report_3">
            <div class="container">
                <div class="title_row">
                    <h2 class="title">@(lang == "vi" ? "Báo cáo tài chính quý" : "Quarterly financial statements")</h2>
                    <p class="title_line">
                        <span class="title_line_mb"></span>
                    </p>
                </div>
                <div class="shareholder_report_table">
                    <table class="table table-striped" id="tblFinance">
                        <thead>
                            <tr>
                                <th>@(lang == "vi" ? "Tài liệu" : "Document")</th>
                                <th>@(lang == "vi" ? "Thời gian đăng" : "Date post")</th>
                                <th>@(lang == "vi" ? "Tải về" : "Download")</th>
                                <th>Năm</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstFinancialReport.OrderByDescending(x => x.uploadTime.Value).ToList())
                            {
                                <tr>
                                    <td>@item.docName</td>
                                    <td>@item.uploadTime.Value?.ToString("dd/MM/yyyy")</td>
                                    <td><a href="@(item.docFile.HasValue ? item.docFile.Media.PublicUrl.Substring(1):"")" target="_blank"><i class="fas fa-file-pdf"></i> @(lang == "vi" ? "Tải về" : "Download") </a></td>
                                    <td>@item.uploadTime.Value?.ToString("yyyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row shareholder_report" id="shareholder_report_4">
            <div class="container">
                <div class="title_row">
                    <h2 class="title">@(lang == "vi" ? "Báo cáo tài chính giữa năm" : "Mid-year financial statements")</h2>
                    <p class="title_line">
                        <span class="title_line_mb"></span>
                    </p>
                </div>
                <div class="shareholder_report_table">
                    <table class="table table-striped" id="tblMidYear">
                        <thead>
                            <tr>
                                <th>@(lang == "vi" ? "Tài liệu" : "Document")</th>
                                <th>@(lang == "vi" ? "Thời gian đăng" : "Date post")</th>
                                <th>@(lang == "vi" ? "Tải về" : "Download")</th>
                                <th>Năm</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstMiddleReport.OrderByDescending(x => x.uploadTime.Value).ToList())
                            {
                                <tr>
                                    <td>@item.docName</td>
                                    <td>@item.uploadTime.Value?.ToString("dd/MM/yyyy")</td>
                                    <td><a href="@(item.docFile.HasValue ? item.docFile.Media.PublicUrl.Substring(1): "")" target="_blank"><i class="fas fa-file-pdf"></i> @(lang == "vi" ? "Tải về" : "Download") </a></td>
                                    <td>@item.uploadTime.Value?.ToString("yyyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row shareholder_report" id="shareholder_report_5">
            <div class="container">
                <div class="title_row">
                    <h2 class="title">@(lang == "vi" ? "Báo cáo tài chính năm" : "Annual financial reports")</h2>
                    <p class="title_line">
                        <span class="title_line_mb"></span>
                    </p>
                </div>
                <div class="shareholder_report_table">
                    <table class="table table-striped" id="tblYearly">
                        <thead>
                            <tr>
                                <th>@(lang == "vi" ? "Tài liệu" : "Document")</th>
                                <th>@(lang == "vi" ? "Thời gian đăng" : "Date post")</th>
                                <th>@(lang == "vi" ? "Tải về" : "Download")</th>
                                <th>Năm</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstYearlyReport.OrderByDescending(x => x.uploadTime.Value).ToList())
                            {
                            <tr>
                                <td>@item.docName</td>
                                <td>@item.uploadTime.Value?.ToString("dd/MM/yyyy")</td>
                                <td><a href="@(item.docFile.HasValue ? item.docFile.Media.PublicUrl.Substring(1): "")" target="_blank"><i class="fas fa-file-pdf"></i> @(lang == "vi" ? "Tải về" : "Download") </a></td>
                                <td>@item.uploadTime.Value?.ToString("yyyy")</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row shareholder_report" id="shareholder_report_6">
            <div class="container">
                <div class="title_row">
                    <h2 class="title">@(lang == "vi" ? "Báo cáo chỉ tiêu an toàn tài chính" : "Report financial safety criteria")</h2>
                    <p class="title_line">
                        <span class="title_line_mb"></span>
                    </p>
                </div>
                <div class="shareholder_report_table">
                    <table class="table table-striped" id="tblIndicator">
                        <thead>
                            <tr>
                                <th>@(lang == "vi" ? "Tài liệu" : "Document")</th>
                                <th>@(lang == "vi" ? "Thời gian đăng" : "Date post")</th>
                                <th>@(lang == "vi" ? "Tải về" : "Download")</th>
                                <th>Năm</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstIndicatorReport.OrderByDescending(x => x.uploadTime.Value).ToList())
                            {
                            <tr>
                                <td>@item.docName</td>
                                <td>@item.uploadTime.Value?.ToString("dd/MM/yyyy")</td>
                                <td><a href="@(item.docFile.HasValue ? item.docFile.Media.PublicUrl.Substring(1): "")" target="_blank"><i class="fas fa-file-pdf"></i> @(lang == "vi" ? "Tải về" : "Download") </a></td>
                                <td>@item.uploadTime.Value?.ToString("yyyy")</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <section id="section_menu">
        <div class="title_row">
            <h2 class="title">@(lang == "vi" ? "Danh mục" : "Category")</h2>
            <p class="title_line"></p>
        </div>
        <div class="row_category">
            <!-- set data-id = id of shareholder_report class seted before -->
            <div class="row_category_div" data-id="paradigm">@Model.ManagementModel.Title</div>
            <div class="row_category_div" data-id="shareholder_report_1">@(lang == "vi" ? "Công bố thông tin" : "Information disclosure")</div>
            <div class="row_category_div" data-id="shareholder_report_2">@(lang == "vi" ? "Báo cáo quản trị" : "Report admin")</div>
            <div class="row_category_div" data-id="shareholder_report_3">@(lang == "vi" ? "Báo cáo tài chính quý" : "Quarterly financial statements")</div>
            <div class="row_category_div" data-id="shareholder_report_4">@(lang == "vi" ? "Báo cáo tài chính giữa năm" : "Mid-year financial statements")</div>
            <div class="row_category_div" data-id="shareholder_report_5">@(lang == "vi" ? "Báo cáo tài chính năm" : "Annual financial reports")</div>
            <div class="row_category_div" data-id="shareholder_report_6">@(lang == "vi" ? "Báo cáo chỉ tiêu an toàn tài chính" : "Report financial safety criteria")</div>
        </div>
    </section>
</section>