@model MvcWeb.Models.RequestOpenAccPage
@{
    ViewBag.Title = Model.Title;
    string urlLang = ViewBag.urlLang;
    string lang = "";
    if (urlLang.Contains("/en"))
        lang = "en";
    else lang = "vi";
}

<section id="open_account" class="fw">
    <div class="container">
        <h5>@(lang == "vi" ? "Gửi yêu cầu mở tài khoản" : "Send request open account")</h5>
        <div class="account_form">
            <form action="">
                <div class="account_title">
                    <h6>@(lang == "vi" ? "I. Thông tin chung" : "I. General information")</h6>
                    <div class="row mar0">
                        <div class="col-lg-6">
                            <p>@(lang == "vi" ? "1. Mở tài khoản cho" : "I. Open account for")</p>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="openfor" value="Cá nhân" checked>
                                    <span class="radio_text">@(lang == "vi" ? "Cá nhân" : "Personal")</span>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="openfor" value="Doanh nghiệp">
                                    <span class="radio_text">@(lang == "vi" ? "Doanh nghiệp" : "Enterprise")</span>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p>@(lang == "vi" ? "2. Quốc tịch" : "2. Nationality")</p>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="nationality" value="Việt Nam" checked>
                                    <span class="radio_text">@(lang == "vi" ? "Việt Nam" : "Viet Nam")</span>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="nationality" value="Nước ngoài">
                                    <span class="radio_text">@(lang == "vi" ? "Nước ngoài" : "Foreign")</span>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account_title">
                    <h6>@(lang == "vi" ? "II. Thông tin cá nhân" : "II. Personal information")</h6>
                    <div class="row mar0">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="inpNameAcc">@(lang == "vi" ? "Họ và tên " : "Fullname ")<span>(*)</span></label>
                                <input id="inpNameAcc" class="form-control" placeholder="@(lang == "vi" ? "Họ và tên " : "Fullname")" type="text"
                                       name="">
                            </div>
                            <div class="form-group">
                                <label>@(lang == "vi" ? "Giới tính" : "Sex") <span>(*)</span></label>
                                <select name="" id="accSex" class="form-control">
                                    <option value="-1">@(lang == "vi" ? "Vui lòng chọn" : "Choose")</option>
                                    <option value="0">@(lang == "vi" ? "Nam" : "Male")</option>
                                    <option value="1">@(lang == "vi" ? "Nữ" : "Female")</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="accDateProvide">@(lang == "vi" ? "Ngày cấp" : "Date of issue") <span>(*)</span></label>
                                <input id="accDateProvide" class="form-control" placeholder="@(lang == "vi" ? "Ngày cấp" : "Date of issue")"
                                       type="text" name="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="accDateBirth">@(lang == "vi" ? "Ngày sinh" : "Date of birth") <span>(*)</span></label>
                                <input id="accDateBirth" class="form-control" placeholder="dd/mm/yyyy" type="text"
                                       name="">
                            </div>
                            <div class="form-group">
                                <label for="accIDcard">@(lang == "vi" ? "Số CMT / CCCD / Hộ chiếu" : "ID card") <span>(*)</span></label>
                                <input id="accIDcard" class="form-control"
                                       placeholder="@(lang == "vi" ? "Số CMT / CCCD / Hộ chiếu" : "ID card")" type="text" name="">
                            </div>
                            <div class="form-group">
                                <label for="accLocatProvide">@(lang == "vi" ? "Nơi cấp" : "Place of issue") <span>(*)</span></label>
                                <input id="accLocatProvide" class="form-control" placeholder="@(lang == "vi" ? "Nơi cấp" : "Place of issue")" type="text"
                                       name="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account_title">
                    <h6>@(lang == "vi" ? "III. Thông tin liên lạc" : "III. Contact info")</h6>
                    <div class="row mar0">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="accPhoneNum">@(lang == "vi" ? "Số điện thoại" : "Phone") <span>(*)</span></label>
                                <input id="accPhoneNum" class="form-control" placeholder="@(lang == "vi" ? "Số điện thoại" : "Phone")"
                                       type="text" name="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="accMail">Mail <span>(*)</span></label>
                                <input id="accMail" class="form-control" placeholder="Mail"
                                       type="text" name="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="accAddress">@(lang == "vi" ? "Địa chỉ" : "Address") <span>(*)</span></label>
                            <input id="accAddress" class="form-control" placeholder="@(lang == "vi" ? "Địa chỉ" : "Address")" type="text"
                                   name="">
                        </div>
                    </div>
                </div>
                <div class="account_title">
                    <div class="row mar0 contract">
                        <div class="col-lg-6">
                            <p>@(lang == "vi" ? "Bạn có cần in sẵn hợp đồng không?" : "Do you need to print the contract?")</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" data-id="need_contract" class="form-check-input"
                                           name="contract" value="Cần in sẵn thông tin hợp đồng" checked>
                                    <span class="radio_text">@(lang == "vi" ? "Cần in sẵn thông tin hợp đồng" : "Print the contract")</span>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" data-id="no_need_contract" name="contract" value="Không cần">
                                    <span class="radio_text">@(lang == "vi" ? "Không cần" : "Needless")</span>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="abcd">
                    <div class="account_title">
                        <h6>@(lang == "vi" ? "IV. Thông tin nơi ở" : "IV. Accommodation information")</h6>
                        <div class="row mar0">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>@(lang == "vi" ? "Quốc gia" : "Nation") <span>(*)</span></label>
                                    <select name="" id="selCountries" class="form-control">
                                        <option value="-1">@(lang == "vi" ? "Quốc gia" : "Nation")</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="accCity">@(lang == "vi" ? "Thành phố" : "City") <span>(*)</span></label>
                                    <input id="accCity" class="form-control" placeholder="@(lang == "vi" ? "Thành phố" : "City")"
                                           type="text" name="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account_title">
                        <h6>@(lang == "vi" ? "V. Thông tin nghề nghiệp" : "V. Job info")</h6>
                        <div class="row mar0">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="accCompany">@(lang == "vi" ? "Công ty làm việc" : "Company")</label>
                                    <input id="accCompany" class="form-control" placeholder="@(lang == "vi" ? "Công ty làm việc" : "Company")"
                                           type="text" name="">
                                </div>
                                <div class="form-group">
                                    <label for="accCompanyPhone">@(lang == "vi" ? "Số điện thoại công ty" : "Company phone")</label>
                                    <input id="accCompanyPhone" class="form-control"
                                           placeholder="@(lang == "vi" ? "Số điện thoại công ty" : "Company phone")" type="text" name="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="accPosition">@(lang == "vi" ? "Vị trí làm việc" : "Job position")</label>
                                    <input id="accPosition" class="form-control" placeholder="@(lang == "vi" ? "Vị trí làm việc" : "Job position")" type="text" name="">
                                </div>
                                <div class="form-group">
                                    <label for="accFax">@(lang == "vi" ? "Fax công ty" : "Company fax")</label>
                                    <input id="accFax" class="form-control" placeholder="@(lang == "vi" ? "Fax công ty" : "Company fax")" type="text" name="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account_title">
                        <h6>@(lang == "vi" ? "VI. Tài khoản ngân hàng" : "VI. Bank account")</h6>
                        <div class="row mar0">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="accBanknum">@(lang == "vi" ? "Số tài khoản" : "Account number")</label>
                                    <input id="accBanknum" class="form-control" placeholder="@(lang == "vi" ? "Số tài khoản" : "Account number")"
                                           type="text" name="">
                                </div>
                                <div class="form-group">
                                    <label for="accBankManger">@(lang == "vi" ? "Người quản lý tài khoản" : "Account manager")</label>
                                    <input id="accBankManger" class="form-control"
                                           placeholder="@(lang == "vi" ? "Người quản lý tài khoản" : "Account manager")" type="text" name="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="accBankname">@(lang == "vi" ? "Ngân hàng" : "Bank")</label>
                                    <input id="accBankname" class="form-control" placeholder="@(lang == "vi" ? "Ngân hàng" : "Bank")"
                                           type="text" name="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account_title">
                        <h6>@(lang == "vi" ? "VII. Thông tin khác" : "VII. Other info")</h6>
                        <div class="row mar0">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="accCompanyManager">@(lang == "vi" ? "Tên công ty đại chúng bạn đang quản lý" : "The name of the company you are managing")</label>
                                    <input id="accCompanyManager" class="form-control" placeholder="@(lang == "vi" ? "Tên công ty đại chúng bạn đang quản lý" : "The name of the company you are managing")"
                                           type="text" name="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="accCompanySpent">
                                        @(lang == "vi" ? "Công ty đại chúng bạn đang giữ hơn 5% vốn điều lệ" : "Company you are holding more than 5% of charter capital")
                                    </label>
                                    <input id="accCompanySpent" class="form-control" placeholder="@(lang == "vi" ? "Tên công ty" : "Company name")"
                                           type="text" name="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" id="openAcc" class="btn btn-primary" value="@(lang == "vi" ? "Mở tài khoản" : "Open account")" />
            </form>
            <span style="display:none" id="mailReceiv">@Model.ReceiverEmail</span>
            <span style="display:none" id="mailSender">@Model.SenderEmail</span>
            <span style="display:none" id="mailPass">@Model.SenderPass</span>
        </div>
    </div>
</section>