@model MvcWeb.Models.TeaserPage
@{
    ViewBag.Title = Model.Title;
    string urlLang = ViewBag.urlLang;
    string lang = "";
    if (urlLang.Contains("/en"))
        lang = "en";
    else lang = "vi";
}

<section id="image_bg" class="fw">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (var item in Model.indexPicture)
            {
                <div class="carousel-item @(Model.indexPicture.First() == item ?"active" : "")">
                    <img class="d-block w-100" src="@(item.Media.PublicUrl.Substring(1)??"")" alt="">
                </div>
            }
        </div>
    </div>
</section>
<section id="services" class="fw">
    <div class="container">
        <div class="image_info">
            <div class="image_row">
                @foreach (var item in Model.lstShortcut)
                {
                    <div class="col-6 col-lg-2 image_div">
                        <img class="img-fluid" src="@(item.Image.Media.PublicUrl.Substring(1)??"")" alt="">
                        <h6>@item.Title</h6>
                    </div>
                }
            </div>
        </div>
        <div class="row mar0">
            <div class="col-12 col-lg-4 w30 services_div_title title_row">
                <h2 class="title">@(lang == "vi" ? "Dịch vụ cung cấp và thông tin" : "Providing services and information")</h2>
                <p class="title_line">
                    <span class="title_line_mb"></span>
                </p>
            </div>
            @foreach (var item in Model.lstServices)
            {
                <div class="col-12 col-lg-4 w30 services_div">
                    <img class="img-fluid" src="@(item.Image.Media.PublicUrl.Substring(1)??"")" alt="">
                    <h6>@item.Title</h6>
                    <span class="services_div_line"></span>
                    <p>
                        @item.SubTitle
                    </p>
                </div>
            }
        </div>
    </div>
</section>
<section id="news" class="fw">
    <div class="container">
        <div class="title_row">
            <h2 class="title">Tin tức</h2>
            <p class="title_line">
                <span class="title_line_mb"></span>
            </p>
        </div>
        <div class="row mar0">
            @{
                string ago = lang == "vi" ? " giờ trước" : " hours ago";
                var items = Model.lstNews;
                <div class="col-12 col-lg-8 big_news">
                    <img class="img-fluid" src="@(items[0].Post.PrimaryImage.Media.PublicUrl.Substring(1) ?? "")" alt="">
                    <div class="news_title">
                        <a href="@items[0].Post.Permalink">
                            @Html.Raw(items[0].Post.Excerpt)
                        </a>
                        <p> <i class="fas fa-clock"></i>@(DateTime.Now.Hour - items[0].Post.Published?.Hour) @ago</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="col-12 col-lg-12 small_news">
                        <img class="img-fluid" src="@(items[1].Post.PrimaryImage.Media.PublicUrl.Substring(1) ?? "")" alt="">
                        <div class="news_title">
                            <a href="@items[1].Post.Permalink">
                                @Html.Raw(items[1].Post.Excerpt)
                            </a>
                            <p> <i class="fas fa-clock"></i>@(DateTime.Now.Hour - items[1].Post.Published?.Hour) @ago</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 small_news">
                        <img class="img-fluid" src="@(items[2].Post.PrimaryImage.Media.PublicUrl.Substring(1) ?? "")" alt="">
                        <div class="news_title">
                            <a href="@items[2].Post.Permalink">
                                @Html.Raw(items[2].Post.Excerpt)
                            </a>
                            <p> <i class="fas fa-clock"></i>@(DateTime.Now.Hour - items[2].Post.Published?.Hour) @ago</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mar0">
            <div class="viewmore">
                <a href="@(lang == "vi" ? "/tin-tuc" : "/news")" class="link">@(lang == "vi" ? "Xem thêm" : "Read more")</a>
            </div>
        </div>
    </div>
</section>
<section id="index" class="fw">
    <div class="container">
        <div class="row mar0 index_bg">
            <div class="col-12 col-lg-4 index_div">
                <h5>hnx</h5>
                <div class="index_number">
                    <p>835,32</p>
                    <p>0,00 (0%)</p>
                    <p><i class="fas fa-minus"></i></p>
                </div>
            </div>
            <div class="col-12 col-lg-4 index_div">
                <h5>hsx</h5>
                <div class="index_number">
                    <p>835,32</p>
                    <p>0,00 (0%)</p>
                    <p><i class="fas fa-minus"></i></p>
                </div>
            </div>
            <div class="col-12 col-lg-4 index_div">
                <h5>upcom</h5>
                <div class="index_number">
                    <p>835,32</p>
                    <p>0,00 (0%)</p>
                    <p><i class="fas fa-minus"></i></p>
                </div>
            </div>
        </div>
    </div>
</section>