@{
    string urlLang = ViewBag.urlLang;
    string lang = "";
    if (urlLang.Contains("/en"))
        lang = "en";
    else lang = "vi";
}
<div class="login">
    <div class="container">
        <div class="row mar0">
            <div class="col-3 small-logo">
                <a href="/"><img class="img-fluid" src="~/assets/images/TVS.png" alt=""></a>
            </div>
            <div class="col-9 col-lg-12 pad0">
                <ul class="fw">
                    <li id="logintext"><a href="/dang-nhap">@(lang == "vi" ? "Đăng nhập" : "Login")</a></li>
                    <li id="itemresultLog" style="display:none; color:white;">
                        <span>@(lang == "vi" ? "Xin chào, " : "Hello, ")</span>
                        <span id="usernameLog"></span>
                        <a href="#" id="logOut">@(lang == "vi" ? "Thoát" : "Sign out")</a>
                    </li>
                    <li><a href="/yeu-cau-mo-tk">@(lang == "vi" ? "Gửi yêu cầu mở tài khoản" : "Request open account")</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="menu wow animate__animated animate__bounce">
    <div class="container">
        <div class="row mar0">
            <div class="col-12 col-lg-2 flex logo">
                <a href="/"><img class="img-fluid" src="~/assets/images/TVS.png" alt=""></a>&ensp;
                <a href="/"><img class="img-fluid" src="~/assets/images/slogan.png" alt=""></a>
            </div>
            <div class="col-12 col-lg-10 pad0">
                <nav class="fw">
                    <div class="menu-toggle">
                        <div class="row mar0">
                            <div class="col-6 pad0">
                                <button type="button" id="menu-btn">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="col-6 search_mb">
                                <form action="" id="search_formmb" class="fw">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="search_mb" id="search_mb">
                                        <i class="fas fa-search search_icon"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                        @foreach (var item in WebApp.Site.Sitemap)
                        {
                            @if (!item.IsHidden)
                            {
                                <li>
                                    @if (item.Permalink == "/gioi-thieu")
                                    {
                                        <a>@item.MenuTitle</a>
                                        <ul>
                                            <li><a href="/gioi-thieu/ve-chung-toi">Về chúng tôi</a></li>
                                            <li><a href="/gioi-thieu/hoi-dong-quan-tri">Hội đồng quản trị</a></li>
                                            <li><a href="/gioi-thieu/ban-dieu-hanh">Ban điều hành</a></li>
                                            @if (item.Items.Any())
                                            {
                                                foreach (var sub in item.Items)
                                                {
                                                    <li><a href="@sub.Permalink">@sub.MenuTitle</a></li>
                                                }
                                            }
                                        </ul>
                                        continue;
                                    }
                                    @if (item.Permalink == "/intro")
                                    {
                                        <a>@item.MenuTitle</a>
                                        <ul>
                                            <li><a href="/about-us">About us</a></li>
                                            <li><a href="/administrative-concil">Administrative Council</a></li>
                                            <li><a href="/executive-board">Executive Board</a></li>
                                            @if (item.Items.Any())
                                            {
                                                foreach (var sub in item.Items)
                                                {
                                                    <li><a href="@sub.Permalink">@sub.MenuTitle</a></li>
                                                }
                                            }
                                        </ul>
                                        continue;
                                    }
                                    @if (item.Items.Any())
                                    {
                                        <a href="@item.Permalink">@item.MenuTitle</a>
                                        <ul>
                                            @foreach (var sub in item.Items)
                                            {
                                                <li><a href="@sub.Permalink">@sub.MenuTitle</a></li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <a href="@item.Permalink">@item.MenuTitle</a>
                                    }
                                </li>
                            }
                        }
                        <li>
                            <a href="/vi"><i class="fas fa-globe-americas"></i> Tiếng việt</a>
                            <ul class="language">
                                <li>
                                    <a href="/en">English</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="search_pc fw">
                                <div id="search_form" class="fw">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="search_pc" id="search_pc">
                                        <i class="fas fa-search search_icon"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>