<div class="login">
    <div class="container">
        <div class="row mar0">
            <div class="col-12 col-lg-12 pad0">
                <ul class="fw">
                    <li><a href="/dang-nhap">Đăng nhập</a></li>
                    <li><a href="/yeu-cau-mo-tk">Gửi yêu cầu mở tài khoản</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="menu">
    <div class="container">
        <div class="row mar0">
            <div class="col-12 col-lg-1 flex logo">
                <a href="/"><img class="img-fluid" src="assets/images/TVS.png" alt=""></a>
            </div>
            <div class="col-12 col-lg-11 pad0">
                <nav class="fw">
                    <div class="menu-toggle">
                        <div class="row mar0">
                            <div class="col-6 pad0">
                                <button type="button" id="menu-btn">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="col-6 search_mb">
                                <form action="" id="search_form" class="fw">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="search" id="search">
                                        <i class="fas fa-search search_icon"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                        @foreach (var item in WebApp.Site.Sitemap)
                        {
                            @if (!item.IsHidden)
                            {
                                <li>
                                    @if (item.Items.Any())
                                    {
                                        <a href="">@item.MenuTitle</a>
                                        <ul>
                                            @foreach (var sub in item.Items)
                                            {
                                                <li><a href="@sub.Permalink">@sub.MenuTitle</a></li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <a href="@item.Permalink">@item.MenuTitle</a>
                                    }
                                </li>
                            }
                        }
                        <li>
                            <a href="#"><i class="fas fa-globe-americas"></i> Tiếng việt</a>
                            <ul class="language">
                                <li>
                                    <a href="#">English</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="search_pc fw">
                                <form action="" id="search_form" class="fw">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="search" id="search">
                                        <i class="fas fa-search search_icon"></i>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>